.MyScroller{
    overflow-y: scroll;
    height: 100%
}
.max1{
min-height: 100%;
max-height: 100%;
}
.MyHeight{
    /* min-height: calc(100vh - 12rem); */
    height: 100%;
}
.scrollable-container {
}

/* Optional: Customize scrollbar styles */
.scrollable-container::-webkit-scrollbar {
    width: 8px; /* Adjust as needed */
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 4px; /* Rounded corners */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the thumb on hover */
}

.scrollable-container::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Color of the track */
    border-radius: 4px; /* Rounded corners */
}

.input-container {
    position: relative;
    /* width: 300px; Adjust width as needed */
}

.input-icon {
    position: absolute;
    left: 5px; /* Adjust position as needed */
    top: 50%;
    transform: translateY(-50%);
}
.myInput{
    padding-left: 10px;
    background-color: transparent;
    border: 0px;
    outline: 0px;
    box-shadow: 0px;
    appearance: none;
}
.myInput:active{
    border: 0px;
    outline: 0px;
    box-shadow: 0px;
}
.searchBG{
    background-color: #f0f2f5;
}