.Nav-Image{
    width: auto;
    height: 4rem;
    overflow: visible; 
}
.Nav-PFP{
    width: 2.6rem;
    height: 2.6rem;
    object-fit: cover;
    border-radius: 50%;
    outline: 2px rgba(0, 0, 0, 0.107) solid;
    transition: all 0.3s;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.193); */
}
.Nav-PFP:hover{
    box-shadow: 0 0 60px rgb(84, 146, 227);
    border: 5px #1f71ecdc solid;
    outline: 6px #4a88e599 solid;
}
.myPaddingTop{
    padding-top: 4rem;
}