.buttonPost {
  margin: 10px;
  padding: 15px 10px;
  background-color: #74b4ff;
  color: #0c4180;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid #74b4ff;
  border-radius: 30px;
  box-shadow: 5px 4px 6px #74b4ff;

}

.buttonPost1 {
  margin: 10px;
  padding: 15px 10px;
  background-color: black;
  color: #0c4180;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid #74b4ff;
  border-radius: 10px;
  box-shadow: 5px 4px 6px #74b4ff;

}

.buttonDetails {
  display: inline-block;
  margin-left: 15px;
  padding: 10px 90px;
  background-color: #1782ff;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #1782ff;
  border-radius: 20px;
  box-shadow: 0px 2px 6px #74b4ff;
}

.starRate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.chatIcon {
  background-color: #97c1f5;
  width: 3rem;
  height: 3rem;
  margin-right: 110px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  background-position: center;
}









.starRate1 {
  display: flex;
  align-items: center;



}

/*************************************************************/
@media only screen and (min-width: 768px) {
  .L1 {
    width: 100%;
    height: 580px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/catbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% top;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

  }

  .p1 {
    display: none;
  }

  .p2 {
    color: white;
    padding-top: 280px;
    text-align: center;
  }

  .p3 {
    margin-left: 60px;
    margin-bottom: 10px;
  }

  .p4 {
    border-radius: 50px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
  }

  .pp4 {
    font-size: 40px;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: #39434F;
    text-align: center;
    margin: 20px;
  }

  .pp6 {
    background-color: #71aef3;
    height: 50px;
    width: 50px;
    margin-left: 50px;
    border-radius: 50px;
    margin-top: 10px;
  }

  .starRatepp7 {
    display: flex;
    align-items: center;
  }


  .pp5 {
    border-radius: 15px;
    background-color: #1B85F3;
    color: white;
    padding: 10px 30px;
  }

  /****edit******/
  .ppp10 {
    /*  border:1px solid #74b4ff;*/
    padding: 20px 100px;
    border-radius: 60px;



  }

  .inpo {
    border: 1px solid #1782FF;
    border-radius: 20px;
  }

  .buttonAddImage {
    display: inline-block;
    gap: 16px;
    margin: 10px;
    padding: 5px 40px;
    background-color: white;
    color: #1268cc;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #1782ff;
    border-radius: 10px;
    box-shadow: 5px 5px 6px #1782ff;
  }

  .buttonSubmit {
    display: inline-block;
    margin: 10px;
    padding: 15px 40px;
    background-color: #1782ff;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #1782ff;
    border-radius: 10px;
    box-shadow: 5px 5px 6px #74b4ff;
  }
}



/**/
@media only screen and (max-width: 767px) {
  .p1 {
    background: linear-gradient(to bottom, #144d87, #1e85f3, rgba(23, 130, 255, 0.35));

    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}




  .L1 {
    display: none;
  }

  .noneInphone {
    display: none;
  }

  .p2 {
    margin-left: 15px;
    color: white;
    padding-top: 62px;
  }

  .p3 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .p4 {
    border-radius: 50px;
    padding: 0px 20px;
    margin-bottom: 20px;
  }

  .pp4 {
    font-size: 20px;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: #39434F;
    padding: 30px 5px;
    text-align: center;
  }

  .pp6 {
    background-color: #71aef3;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border-radius: 50px;
  }

  .starRatepp7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }


  .pp5 {
    border-radius: 30px;
    background-color: #1B85F3;
    color: white;
    padding: 5px 15px;
  }

  .ppp10 {
    padding: 15px 50px;
    border-radius: 20px;


  }

  .inpo {
    border: 1px solid #74b4ff;
    border-radius: 10px;
  }

  .buttonAddImage {
    display: inline-block;
    gap: 10px;
    margin: 2px;
    padding: 2px 20px;
    background-color: white;
    color: #1268cc;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #1782ff;
    border-radius: 10px;
    box-shadow: 5px 5px 6px #1782ff;
  }

  .buttonSubmit {
    display: inline-block;
    margin: 10px;
    padding: 15px 20px;
    background-color: #1782ff;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #1782ff;
    border-radius: 10px;
    box-shadow: 5px 5px 6px #74b4ff;
  }
}

/**/
.MyShadow {

  box-shadow: 0px 4px 30px 1px rgba(27, 133, 243, 0.2);
}

.bordcard {
  border-radius: 50px;
  border: 3px solid #E0E0E0;
}

.str {
  font-size: 10px;
}
.mess {
  background: rgba(27, 133, 243, 0.19);
  border-radius: 50%;
  padding: 12px;
  font-size: 20px;
  margin: auto;
  color: #1B85F3;
}
.mess:hover {
  cursor: pointer;
  transition: all 0.4s;
  background: #1B85F3;
  color: #fff;
}
.mess:active {
  cursor: pointer;
  font-size: 23px;
  padding: 11px;
  transition: all 0.4s;
  background: #0e4c8f;
  color: #fff;
}

.starRatepp8 {
  display: flex;
  align-items: center;
}

.pp9 {
  margin-left: 10px;

}

.pot1 {
  color: black;
}




/*********************************************************************/