/* Extra small devices (phones) */
@media only screen and (max-width: 575.98px) {
    /* Your CSS for extra small screens here */
    .AvatarMainPic{
        width: 100%;
    }

  }
  
  /* Small devices (tablets and larger phones) */
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    /* Your CSS for small screens here */
    .AvatarMainPic{
        width: 100%;
    }
  }
  
  /* Medium devices (tablets and small desktops) */
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    /* Your CSS for medium screens here */
    .AvatarMainPic{
        width: 100%;
    }
  }
  
  /* Large devices (desktops) */
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* Your CSS for large screens here */
    .AvatarMainPic{
        width: 60%;
    }

  }
  
  /* Extra large devices (large desktops) */
  @media only screen and (min-width: 1200px) {
    .AvatarMainPic{
        width: 40%;
    }
    /* Your CSS for extra large screens here */
  }







.tealBG {
    background-color: #2c3e50;
}

.bold-text {
    font-weight: 900;
}

.bigerText {
    font-size: 45px;
}

.DarktealBG {
    background-color: #18222c;

}

.Camera {
    width: 100%;
    /* white-space: normal; */
    /* Allow text to wrap to the next line */
    /* word-wrap: break-word; */
    /* Break long words if necessary */

}

.GreenishBG {
    background-color: #1ABC9C;

}

.tall {
    min-height: 100vh;
}
.Mytall {
    height: 100vh;
}

.whiteLine {
    background-color: #fff;
    height: 4px;
    width: 85px;
}

.DarkLine {
    background-color: #2c3e50;
    height: 4px;
    width: 85px;
}

.MainSection {
    color: #fff;
}

.bigga {
    font-size: 35px;
    font-weight: 900;
}

.bigga-5 {
    font-size: 6em;
    font-weight: 900;
}

.FooterList li {
    padding: 6px 11px;
    margin: 0 5px;
    border: #fff 2px solid;
    border-radius: 50%;
}

.selected {
    background-color: #1ABC9C !important;
    border-radius: 8px;
    color: #fff !important;
}
/* Profile */
.portfolioComponent {
   
.profile {
    margin: 20px 0;
    display: flex;
    padding: 20px;
    align-items: center;
    border-radius: 15px;
    box-shadow: 3px 10px 15px hsl(0deg 0% 0% / 0.31);
  }
  .profile .avatar {
    width: 125px;
    height: 125px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  
  .profile .avatar img {
    width: 100%;
    height: 125px;
    border-radius: 100%;
    border: solid 4px #070707;
  }
  
  .profile .body {
    text-align: left;
  }
  
  .profile .avatar .avatar-wrapper {
    position: relative;
  }
  
  .profile .avatar > div > div {
    display: flex;
    justify-content: center;
  }
  
  .profile .avatar .avatar-wrapper button {
    bottom: 12px;
    display: none;
    position: absolute;
    background-color: #070707;
    border: 1px solid #070707;
  }
  
  .profile .avatar .avatar-wrapper:hover button {
    display: block;
  }
  
  .profile .avatar svg {
    font-size: 125px;
  }
  
  .profile p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .profile {
      flex-direction: column;
    }
  }
  /* End */
}

.PortOverlay:hover {
    opacity: 100%;
    transition: all 0.7s;
}

.PortOverlay {
    position: absolute;
    width: 95%;
    height: 100%;
    opacity: 0%;
    background-color: #1ABC9C;
}

.imgDiv {
    position: relative;
    overflow: hidden;
}

.AboutSection {
    background-color: #1ABC9C;
    color: #fff;
}

.myPadding {
    padding-bottom: 12em;
}

.navbar-nav .nav-link.active {
    background-color: #1ABC9C;
    border-radius: 0.6rem;
}

.myForm label {
    color: #1ABC9C;
}

#userNameLbl,
#userAgeLbl,
#userEmailLbl,
#userPasswordLbl {
    display: none;
}

.block {
    height: 20px;
    margin-bottom: 10px;
}
.MySignIN{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 3rem;
    border: 2px solid #C3C3C3;
}
.MySignIN:hover{
    border: 2px solid #828282;
    transition: border 0.2s;
}
.MyLogo img{
    width: 2rem;
}
.circle-round{
    border-radius: 50%;
    width: 2.7rem;
}
.bp-widget-widget {
    bottom: -20px !important;
    left: 50% !important;
    transform: translateX(-66%) !important;
  }
  .bp-widget-web {
    z-index: 2000 !important;
  }
  #bp-web-widget{
     width: 57px !important; 
  }
  
.BigIcon{
    font-size: 1.6rem;
}
.flower{
    overflow-y: auto;
    height: 60vh;
}
.MechatBubblePhoto{    
    border-radius: 50%;
    width: 2.7rem;
    margin-left: 1rem;
}
.OtherchatBubblePhoto{    
    border-radius: 50%;
    width: 2.7rem;
    margin-right: 1rem;
}
.MechatBubble{
    padding: 8px;
    border-radius: 2rem;
    border-bottom-right-radius: 0;
    background-color: #1ABC9C;
}
.OtherchatBubble{
    padding: 8px;
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    background-color: rgb(159, 159, 159);

}
.loading{
    height: 100vh;
    width: 100vw;
    background-color: #1ABC9C;
}
#loading {
    display: flex;
    position: fixed;
    color: #fff;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    background-repeat: no-repeat;
    background-position: center;

}
.sk-cube-grid {
    width: 60px;
    height: 60px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #ffffff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }
