/* Extra small devices (phones) */
@media only screen and (max-width: 575.98px) {
    /* Your CSS for extra small screens here */
    .AvatarMainPic{
        width: 100%;
    }

  }
  
  /* Small devices (tablets and larger phones) */
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    /* Your CSS for small screens here */
    .AvatarMainPic{
        width: 100%;
    }
  }
  
  /* Medium devices (tablets and small desktops) */
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    /* Your CSS for medium screens here */
    .AvatarMainPic{
        width: 100%;
    }
  }
  
  /* Large devices (desktops) */
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* Your CSS for large screens here */
    .AvatarMainPic{
        width: 60%;
    }

  }
  
  /* Extra large devices (large desktops) */
  @media only screen and (min-width: 1200px) {
    .AvatarMainPic{
        width: 40%;
    }
    /* Your CSS for extra large screens here */
  }







.tealBG {
    background-color: #2c3e50;
}

.bold-text {
    font-weight: 900;
}

.bigerText {
    font-size: 45px;
}

.DarktealBG {
    background-color: #18222c;

}

.Camera {
    width: 100%;
    /* white-space: normal; */
    /* Allow text to wrap to the next line */
    /* word-wrap: break-word; */
    /* Break long words if necessary */

}

.GreenishBG {
    background-color: #1ABC9C;

}

.tall {
    min-height: 100vh;
}
.Mytall {
    height: 100vh;
}

.whiteLine {
    background-color: #fff;
    height: 4px;
    width: 85px;
}

.DarkLine {
    background-color: #2c3e50;
    height: 4px;
    width: 85px;
}

.MainSection {
    color: #fff;
}

.bigga {
    font-size: 35px;
    font-weight: 900;
}

.bigga-5 {
    font-size: 6em;
    font-weight: 900;
}

.FooterList li {
    padding: 6px 11px;
    margin: 0 5px;
    border: #fff 2px solid;
    border-radius: 50%;
}

.selected {
    background-color: #1ABC9C !important;
    border-radius: 8px;
    color: #fff !important;
}

.portfolioComponent {
    color: #2c3e50;
}

.PortOverlay:hover {
    opacity: 100%;
    transition: all 0.7s;
}

.PortOverlay {
    position: absolute;
    width: 95%;
    height: 100%;
    opacity: 0%;
    background-color: #1ABC9C;
}

.imgDiv {
    position: relative;
    overflow: hidden;
}

.AboutSection {
    background-color: #1ABC9C;
    color: #fff;
}

.myPadding {
    padding-bottom: 12em;
}

.navbar-nav .nav-link.active {
    background-color: #1ABC9C;
    border-radius: 0.6rem;
}

.myForm label {
    color: #1ABC9C;
}

#userNameLbl,
#userAgeLbl,
#userEmailLbl,
#userPasswordLbl {
    display: none;
}

.block {
    height: 20px;
    margin-bottom: 10px;
}
.MySignIN{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 3rem;
    border: 2px solid #C3C3C3;
}
.MySignIN:hover{
    border: 2px solid #828282;
    transition: border 0.2s;
}
.MyLogo img{
    width: 2rem;
}
.circle-round{
    border-radius: 50%;
    width: 2.7rem;
}
.bp-widget-widget {
    bottom: -20px !important;
    left: 50% !important;
    transform: translateX(-66%) !important;
  }
  .bp-widget-web {
    z-index: 2000 !important;
  }
  #bp-web-widget{
    /* width: 57px !important; */
  }
  
.box{
    background-color: #1ABC9C;
    min-height: 60vh;
}
.choice h3{
    color: #ffffffbb;
    transition: all 0.3s;
}
.BigIcon{
    font-size: 1.6rem;
}
.BiggerIcon{
    font-size: 3.6rem;
    color: #ffffffbb;
    transition: all 0.3s;
}
.box:hover{
    cursor: pointer;
}
.box:hover .BiggerIcon{
    font-size: 4rem;
    color: #ffffff;
}
.flower{
    overflow-y: auto;
    height: 60vh;
}
.MechatBubblePhoto{    
    border-radius: 50%;
    width: 2.7rem;
    margin-left: 1rem;
}
.OtherchatBubblePhoto{    
    border-radius: 50%;
    width: 2.7rem;
    margin-right: 1rem;
}
.MechatBubble{
    padding: 8px;
    border-radius: 2rem;
    border-bottom-right-radius: 0;
    background-color: #1ABC9C;
}
.OtherchatBubble{
    padding: 8px;
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    background-color: rgb(159, 159, 159);

}
.loading{
    height: 100vh;
    width: 100vw;
    background-color: #1ABC9C;
}
#loading {
    display: flex;
    position: fixed;
    color: #fff;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    background-repeat: no-repeat;
    background-position: center;

}
.sk-cube-grid {
    width: 60px;
    height: 60px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #ffffff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }



  /* profile user  */

  .card {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 6px 6px 6px 6px rgba(0.1, 0.1, 0.1, 0.1);   
    align-items: center;
    text-align: center;
    width: 600px;
    
}
.card1 {
    background-color: #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 6px 6px 6px 6px rgba(0.1, 0.1, 0.1, 0.1);   
    align-items: center;
    text-align: start;
    height: 520px;
    width: 400px;
    
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50% ;
    object-fit: cover;
    background-color: #828282;
    
    
}
.i23{
    justify-self: center;
    padding: 40px;
}


.pet-pic {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
    margin-top: 20px;
}

.pet {
    display: flex;
    align-items: center;
}

.pet-info {

    justify-self: start;
}


.data{
    padding: 50px;

}
.icon {
    
    border-radius: 10px  ;
    border-color: #3BB9FF;
    background-color: #ffffff;
}
.iconss{
    color: #3BB9FF;
}
.row2r {
    flex-wrap: wrap;
    gap: 50px;
    
}
.row3ef{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 50px;
    
}
.cota{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.display{
    display: flex;
    
}


/* profile doctor  */

.profile-picd {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
   
}
.rowt{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
.title {
    text-align: center;
    font-size: 24px;
    color: #4a4a4a;
}
.subtitle {
    text-align: center;
    font-size: 18px;
    color: #8f8f8f;
}
.rating {
    font-size: 16px;
    color: #ffb800;
}

.days {
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    display: flex;
}
.day {
    border-radius:6px;
    text-align: center;
    outline: 1px solid #8f8f8f;
    font-size: 18px;
    color: #4a4a4a;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
    display: flex;
    justify-self: center;
}
.theday{
    margin-right: 10px;
    background-color: #89CFF0;
    border-radius: 6px , 6px , 6px , 0px;
    padding: 10px;
}
.thetime{
    padding: 8px , 10px , 10px, 10px ;
}
.clinics {
    background-color: #fff;
    height: 50%;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-size: 50px;
}
.clinic {
    text-align: center;
    font-size: 24px;
    color: blue;
    
}
.book {
    font-size: 12px;
    color: #4a4a4a;
    margin-bottom: 5px;
}
.availability{
    background-color: #fff;
    width: 50%;
    height: 400px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-size: 16px;
    color: #700e0e;
}

.flexx{
    display: flex;
    
}
.price{
    background-color: #fff;
    height: 40%;
    width: 500px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-size: 16px;
    color: #700e0e;
}

.pricest{
    border-radius:6px;
    text-align: center;
    outline: 1px solid #8f8f8f;
    font-size: 24px;
    color: #4a4a4a;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    
}

.stya{
    display: flex;
}