.create-password {
  margin: 0;
  position: relative;
  font-size: 42px;
  line-height: 100%;
  font-weight: 700;
  font-family: inherit;
  color: #39434f;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

}
.use-a-minimum {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 13px;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-family: Poppins;
  color: #808b9a;
}
.input-box3,
.inputs-pws {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-family: "Noto Sans";
}
.input-box3 {
  border: 1px solid #d9dfe6;
  border: 1px solid #d9dfe6;
  outline: 0;
  background-color: #fff;
  align-self: stretch;
  border-radius: 14px;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  color: #808b9a;
  transition: border-color 0.3s ease; /* Add smooth transition for border color change */
}
.input-box3:focus{
  border-color: #1b85f3;

}
.inputs-pws {
  flex-direction: column;
  gap: 15px;
}
.button11 {
  flex: 1;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Noto Sans";
  color: #fff;
  text-align: center;
}
.confirm-btn2 {
  cursor: pointer;
  border: 0;
  padding: 15px 0;
  background-color: #1b85f3;
  align-self: stretch;
  border-radius: 14px;
  flex-direction: row;
  transition: background-color 0.2s ease; /* Add a smooth transition effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.confirm-btn2:hover{
  background-color: #1566c0; /* Change the background color on hover */

}

.by-creating-an-container {
  align-self: stretch;
  position: relative;
  font-size: 13px;
  letter-spacing: 0.02em;
  line-height: 18px;
  font-family: Poppins;
  color: #808b9a;
}
.create-password-total {
  width: 394px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  text-align: center;
  font-size: 32px;
  color: #39434f;
  font-family: Catamaran;
}
@media screen and (max-width: 960px) {
  .create-password {
    font-size: 32px;
  }
  .button11,
  .by-creating-an-container,
  .use-a-minimum {
    font-size: 13px;
  }
  .create-password-total {
    width: 340px;
  }
}
@media screen and (max-width: 420px) {
  .create-password {
    font-size: 24px;
  }
  .use-a-minimum {
    font-size: 12px;
  }
  .input-box3 {
    height: 50px;
  }
  .button11 {
    font-size: 14px;
  }
  .confirm-btn2 {
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
  }
  .by-creating-an-container {
    font-size: 12px;
  }
  .create-password-total {
    width: 298px;
  }
}
